/*
 Propriedades isoladas para camada de index
*/
section{
  top:100px;
  position:relative;
  margin:auto;
  width:95%;
  height:30em;
}
section>div{
  width:100%;
}
section>div>a{
  color:#2ac;
  font-size:30px;
  text-decoration:none;
}
menu#bar{
	height:49px;
	padding-top:18px;
	position:fixed;
	margin-top:0;
	left:0;
	right:0;
	z-index:5;
	background-color:rgba(255,255,255,0.8);
	text-align:center;
	transition-duration:1s
}
menu#bar>div>a{
	padding: 21px 22px;
	color:#666;
	font-size: 25px;
	font-weight:300;
	font-family: "Lato",sans-serif;
}
menu#bar>div>a:hover{
	text-decoration:underline;
	background:#eee;
  animation-duration:1.6s;
	text-decoration:none
}menu#bar:hover{
	font-weight: 300;
	transition-duration:0.6s
}
a{
  text-decoration:none;
}
