<menu id="bar">
  <div>
    <a href="/index" style="border-bottom:5px solid #ccc">Feed</a>
    <!--a href="/create">Entrar</a-->
  </div>
</menu>

<section>
  <!-- Questões controladas de quantidades de artigo -->
  <div>
    <a href="edit/1">{{title[0].title}}</a><br/>
  </div><div>
    <a href="edit/2">{{title[1].title}}</a><br/>
  </div><div>
    <a href="edit/3">{{title[2].title}}</a><br/>
  </div><div>
    <a href="edit/4">{{title[3].title}}</a><br/>
  </div><div>
    <a href="edit/5">{{title[4].title}}</a><br/>
  </div><div>
    <a href="edit/6">{{title[5].title}}</a><br/>
  </div><div>
    <a href="edit/7">{{title[6].title}}</a><br/>
  </div><div>
    <a href="edit/8">{{title[7].title}}</a><br/>
  </div><div>
    <a href="edit/9">{{title[8].title}}</a><br/>
  </div><div>
    <a href="edit/10">{{title[9].title}}</a><br/>
  </div>
</section>
